*.aux
*.out
*.log
*.blg
*.bbl
*.xml
*.toc
*.gz
SK_verzia/_Zaverecna_praca-blx.bib
EN_verzia/_Thesis-blx.bib
poster/EN_verzia/_poster-blx.bib
poster/SK_verzia/_poster-blx.bib
praca/EN_verzia/_SVK-blx.bib
praca/EN_verzia/_Thesis-blx.bib
praca/SK_verzia/_SVK-blx.bib
praca/SK_verzia/_Zaverecna_praca-blx.bib
